& {
    position: relative;
}

.home-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.home-content {
    position: relative;
    z-index: 3;
    text-align: center;
}

div.logo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
    svg {
        width: auto;
        height: 200px;
        max-width: 100%;
        filter: drop-shadow(0 0 10px rgba(59, 130, 246, 0.3));
        
        @media (max-width: 768px) {
            height: 150px;
        }
    }
}

.title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    @media (max-width: 768px) {
        font-size: 3rem;
    }
    
    @media (max-width: 480px) {
        font-size: 2.5rem;
    }
}

.subtitle {
    font-size: 1.25rem;
    color: var(--text-color);
    text-align: center;
    margin-top: 0.5rem;
    opacity: 0.9;
    
    @media (max-width: 768px) {
        font-size: 1.1rem;
    }
}

.home-illustration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;

    .floating-elements .element {
        animation: float-home 8s ease-in-out infinite;

        &.element-1 {
            width: 80px;
            height: 80px;
            top: 10%;
            left: 5%;
            animation-delay: 0s;
            animation-duration: 6s;
        }

        &.element-2 {
            width: 60px;
            height: 60px;
            top: 75%;
            right: 8%;
            animation-delay: 2s;
            animation-duration: 8s;
        }

        &.element-3 {
            width: 100px;
            height: 100px;
            bottom: 15%;
            left: 15%;
            animation-delay: 4s;
            animation-duration: 10s;
        }

        &.element-4 {
            width: 40px;
            height: 40px;
            top: 35%;
            right: 12%;
            animation-delay: 1s;
            animation-duration: 7s;
        }

        &.element-5 {
            width: 70px;
            height: 70px;
            top: 20%;
            left: 75%;
            animation-delay: 3s;
            animation-duration: 9s;
        }
    }
}