& {
    position: relative;
}

.home-container {
    @extend .page-container;
}

.home-content {
    @extend .content-wrapper;
}

div.logo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
    svg {
        width: auto;
        height: 200px;
        max-width: 100%;
        filter: drop-shadow(0 0 10px rgba(59, 130, 246, 0.3));
        
        @media (max-width: 768px) {
            height: 150px;
        }
    }
}

.title {
    @extend .page-title;
}

.subtitle {
    @extend .page-subtitle;
}

.home-illustration {
    @extend .page-illustration;

    .floating-elements .element {
        animation: float-complex 8s ease-in-out infinite;

        &.element-1 {
            width: 80px;
            height: 80px;
            top: 10%;
            left: 5%;
            animation-delay: 0s;
            animation-duration: 6s;
        }

        &.element-2 {
            width: 60px;
            height: 60px;
            top: 75%;
            right: 8%;
            animation-delay: 2s;
            animation-duration: 8s;
        }

        &.element-3 {
            width: 100px;
            height: 100px;
            bottom: 15%;
            left: 15%;
            animation-delay: 4s;
            animation-duration: 10s;
        }

        &.element-4 {
            width: 40px;
            height: 40px;
            top: 35%;
            right: 12%;
            animation-delay: 1s;
            animation-duration: 7s;
        }

        &.element-5 {
            width: 70px;
            height: 70px;
            top: 20%;
            left: 75%;
            animation-delay: 3s;
            animation-duration: 9s;
        }
    }
}