& {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.error-container {
    @extend .page-container;
    max-width: 600px;

    .error-content {
        @extend .content-wrapper;

        .error-code {
            font-size: 6rem;
            font-weight: 900;
            line-height: 1;
            margin-bottom: 1rem;

            @media (max-width: 768px) {
                font-size: 4rem;
            }
        }

        .error-title {
            @extend .page-title;
            font-size: 2.5rem;

            @media (max-width: 768px) {
                font-size: 2rem;
            }
        }

        .error-message {
            @extend .page-subtitle;
            color: #aaa;
            margin-bottom: 2.5rem;
            max-width: 400px;
        }

        .error-actions {
            display: flex;
            gap: 1rem;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .error-illustration {
        @extend .page-illustration;

        .floating-elements .element {
            animation: float 8s ease-in-out infinite;

            &.element-1 {
                width: 70px;
                height: 70px;
                top: 25%;
                left: 15%;
                animation-delay: 0s;
            }

            &.element-2 {
                width: 50px;
                height: 50px;
                top: 65%;
                right: 20%;
                animation-delay: 3s;
            }

            &.element-3 {
                width: 90px;
                height: 90px;
                bottom: 25%;
                left: 25%;
                animation-delay: 6s;
            }
        }
    }
}
